@charset "ISO-8859-1";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #4575dd;
    color: white;
    padding: 1px;
    text-align: center;
}

.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.main {
	text-align: center;
	margin-top: 50px;
}
